
<nav>
    <div class="home active">
        <a href="/"><i class="fa fa-home"></i>Diet Tracker</a>
    </div>
</nav>

<div class="search-wrapper">
    <form action="/foods/search" method="POST" class="search-form" role="search">
        <button type="submit" class="button-search"><i class="fa fa-search"></i></button>
        <input type="searchTerm" name="searchTerm" id="searchTerm" class="search-input" placeholder="Search food...">
    </form>
</div>
