<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    Edit Meal

    <div class="container">
        <h1 class="mb-4">Edit Meal</h1>

        <form action="/meals/<%= meal.id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input required value ="<%= meal.name %>" type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control"><%= meal.description %></textarea>
            </div>
            
            <a href="/" class="btn btn-danger">Back</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>